:root {
  --background-color-primary: #1D1D1D;
  --background-color-secondary: #262626;
  --color-primary: #FFFFFF;
  --color-secondary: #4D4D4D;
  --border-color: #4D4D4D;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
}
