@import './theme.css';
@import './embedded-form.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: Inter, sans-serif;
  font-size: 14px;
  background-color: var(--background-color-primary)
}

.frame {
  background: var(--background-color-secondary);
  border: 1px solid var(--border-color);
  border-radius: 12px;   
}

h1 {
  font-size: 30px;
}